################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/4DimenssionLLC/bin/Debug/net8.0/4dimsllc.db
/4DimenssionLLC/bin/Release/net8.0/4dimsllc.db
