@{
    // ViewData["Title"] = "Home Page";
}

<!--TITLE-->
<title>4Dimension LLC</title>

<!--ICON-->
<link rel="shortcut icon" href="~/logo-ico.ico">

<!--META TAGS-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="Mahesh">
<meta name="description" content="">
<meta name="keywords" content="">
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="LEVIOOSA" />
<head>
	<!-- External CSS -->
	<link href="~/css/site.css" rel="stylesheet" />

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fredoka+One&family=Kanit:wght@300&display=swap" rel="stylesheet">

	<!-- Bootstrap CSS and JS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- jQuery Validation Plugin -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

	<!-- Toastr -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>

	<!-- Your custom script -->
	<script src="~/js/site.js"></script>
</head>


<body onload="myLoader()">
	<div class="loading" id="loader">
	<div class="load">
	<div class="loader">
	</div>
	</div>
	</div>
	<!--IF LOADER NEEDED
	<body onload="myLoader()" style="margin:0;">
	<div class="loading" id="loader">
	<div class="load">
	<div class="loader">
	</div>
	</div>
	</div>
	<div style="display:none;" id="myDiv" class="animate-bottom">-->
	<!--NAV-BAR-->
	<header>
        <div class="topnav" id="myTopnav">
			
			<a class="logo" href="#humanManagement"><img class="logo-2" src="~/images/4dlogo.png" /></a>

			<a id="lblSupport" class="scroll-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Support</a>
			<hr role="separator" class="dividerMenu" />
			<a href="#our-team" class="scroll-link">Our Team</a>
			<hr role="separator" class="dividerMenu" />

			<a id="lblDispatch" href="#eventId" class="dropbtn order3 scroll-link">
				Events
			</a>
			<hr role="separator" class="dividerMenu" />

			<a id="lblFleet" class="order2 scroll-link" href="#fleetManagement">Services </a>
			<hr role="separator" class="dividerMenu" />

			<a id="lblHuman" href="#humanManagement" class="active order1 scroll-link">Home </a>
			
			<a href="javascript:void(0);" style="font-size:25px;" class="icon" onclick="myFunction()">&#9776;</a>
			</div>
		
	</header>
	<div class="topnav" id="navbar">
		@* <div class="slide-menu"> *@
		<a class="logo" href="#humanManagement"><img class="logo-width" src="~/images/4dlogo.png" /></a>
		<div class="menus">
			
			<a href="#Support" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Support</a>
			<a href="#our-team" class="scroll-link">Our Team</a>
			<a href="#eventId" class="dropbtn">
				Events
				</a>
			
			<a href="#fleetManagement">Services</a>
			<a href="#humanManagement" class="active">Home</a>

		</div>
	@* 	</div> *@
	</div>
	<!--MAIN-->
	<div class="main section" id="humanManagement" >
       
		<table>
			<tr>
				<td>
					<section >
@* 						<h5 class="sub-title">Welcome To 4Dimension LLC</h5>
 *@						<h1 class="title">Human Management</h1>
						<p class="human-para">An opportunity to lead as a DSP, you are only as strong as your team of delivery associates. Your leadership won’t just set them up for success on the road today, but wherever their career takes them. Successful candidates are passionate about hiring and coaching, building a strong company culture, and giving back to the community.</p>
						<a href="#sections" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn1">Explore More</a>
					</section>
				</td>
				<td class="bg-img">
					<div></div>
@* 					<img src="~/images/4dlogo.png" class="inline-photo show-on-scroll" alt="INFERNO">
 *@				</td>
			</tr>
			<tr>
				<td></td>
				<td><span class="copnyNameStyle"> 4Dimensions LLC</span><img class="logo-width mbl-view" src="~/images/4dlogo.png" /></td>
			</tr>
		</table>
	</div>
	<h1 class="title clr-black ourTeamHead"> Our Team </h1>
	<section class="ourTeam" id="our-team"></section>

	

	<!--CARDS-->
	<section class="section0" id="ServiceSection">
		<div class="cardBannerWidth card banner">
			<h1 class="title">Our Featured Services</h1>
			<p class="sub-title float-left">
				4Dimensions LLC, maintains reasonable fleet of delivery vans and delivery associates. To address sudden increase of delivery packages, we always run with back up of spare van &  delivery associate, big vans are dispatched with assistant as well. We periodicaly execute maintenance schedule of van so on time delivery can be assured and better health status achievement of delivery vans.
			</p>
		</div>
		
		<div class="card inline-photo show-on-scroll">
			<div class="row">
				<div class="col-md-2 mdTop-mblView"><i class="fa fa-users"></i></div>
				<div class="col-md-10 md10-mblView"><h3 class="mgtoptext">Human Management</h3></div>
			</div>

		</div>
		<div class="card inline-photo show-on-scroll">
			<div class="row">
				<div class="col-md-2 mdTop-mblView"><i class="fa fa-truck"></i></div>
				<div class="col-md-10 md10-mblView"><h3 class="mgtoptext">Fleet Management</h3></div>
			</div>
			
			
		</div>
		<div class="card inline-photo show-on-scroll">
			<div class="row">
				<div class="col-md-2 mdTop-mblView"><i class="fa fa-bus"></i></div>
				<div class="col-md-10 md10-mblView"><h3 class="mgtoptext">Dispatching Services</h3></div>
			</div>

		</div>
		<div class="card inline-photo show-on-scroll">
			<div class="row">
				<div class="col-md-2 mdTop-mblView"><i class="fa fa-phone"></i></div>
				<div class="col-md-10 md10-mblView"><h3 class="mgtoptext">Technical Communication & Support</h3></div>
			</div>

		</div>
	</section>


	<!--CONTAINER-->
	<div class="container section" id="fleetManagement">
		<table>
			<tr>
                <td>
					<img src="~/images/01.webp" class="inline-photo show-on-scroll" alt="About Us">
				</td>
				<td>
@* 					<h6 class="sub-title">Discover Our Company</h6>
 *@					<h1 class="title">Fleet Management </h1>
					<p class="fleet-para">
						4Dimensions LLC, maintains reasonable fleet of delivery vans and delivery associates. To address sudden increase of delivery packages, we always run with back up of spare van &  delivery associate, big vans are dispatched with assistant as well. We periodicaly execute maintenance schedule of van so on time delivery can be assured and better health status achievement of delivery vans.
					</p>
					<div class="btn-center mb-4">
						<a href="#moreaboutus" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn2">Discover More</a>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div class="container section" id="dispatching" >
		<table>
			<tr>
				
				<td class="pd-left">
					<h1 class="title">Dispatching Service </h1>
					<p class="dispatch-para">4Dimensions LLC, deals with dispatchment of delivery items as well as dispatchment of delivery team which includes the delivery assosciates & delivery vans attached with Amazon as part of fleet team. Dispatchment performance is meatured via standard performance indexes based on pick time and delivery time. We are satisfied , as our customers are more than satisfied with our delivery time, occuracy and team behaviour.d on pick time and delivery time. We are satisfied , as our customers are more than satisfied with our delivery time, occuracy and team behaviour.</p>
					<div class="btn-center mb-4">
						<a href="#moreaboutus" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn2">Discover More</a>

					</div>
				</td>
                <td>
					<img src="~/images/r.jpg" class="inline-photo show-on-scroll img-setting" alt="About Us">
				</td>
			</tr>
		</table>
	</div>


	<section class="slick" id="moreaboutus">
		<div class="banner mt-4">
			<h1 class="title clr-black"> Benefits We Offer </h1>
			<h5 class="sub-title clr-black">Bringing New Business solutions and ideas</h5>
		</div>
		<table>
			<tr>
				<td>
					<ul>
						<li>
							<h3>Human Management Services </h3>
							<p>Recruitment and Onboarding, Employee Development and Training, Performance Management, Employee Engagement and Well-being. </p>
						</li>
						<li>
							<h3>Effective Fleet Management </h3>
							<p>Before time fleet management, Preventive corprative management , Planned maintenance. </p>
						</li>
						<li>
							<h3>Favorable Timezone & Cultural Closeness </h3>
							<p>Situate and smart all human management, fleet management,dispatching services handled and monitor with measureable and axces. </p>
						</li>
					</ul>
				</td>
				<td>
					<div class="card inline-photo show-on-scroll">
						<div class="card_part card_part-one">
						</div>

						<!-- Photo 2 -->
						<div class="card_part card_part-two">
						</div>

						<!-- Photo 3 -->
						<div class="card_part card_part-three">
						</div>

						<!-- Photo 4 -->
						<div class="card_part card_part-four">
						</div>
					</div>
				</td>
				<td>
					<ul>
						<li>
							<h3>Centres Of Excellence </h3>
							<p>Driving Innovation,Promoting Best Practices, Fostering Collaboration, Areas of Focus.</p>
						</li>
						<li>
							<h3>Clear, Timely Communication </h3>
							<p>Delivery Associate, Timely Notification,Before arrival notification and stay connected with customer from delivery packet pickup to doorstep and take picture of packet as delivery proven.</p>
						</li>
						<li>
							<h3>Quick & Easy Start </h3>
							<p>DSPS can join us as tanet, and can avail all dsps services </p>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</section>


	@* <section id="contact" class="section">

		<h1 class="section-header">contact us</h1>

		<div class="contact-wrapper">

			<!-- left contact page -->
			<div class="row">
				<div class="col-md-6">
				
			<div id="contact-form"  class="form-horizontal">

				<div class="form-group">
					<div class="col-sm-12">
								<input type="text" class="form-control" id="name" placeholder="Name, e.g John Doe" name="name" value="">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
								<input type="email" class="form-control" id="email" placeholder="Email Address, e.g abc@domain.com" name="email" value="">
					</div>
				</div>

						<textarea class="form-control" rows="3" placeholder="Write Email Text" name="message"></textarea>
				<div class="row btn-center">
							<div class="cntr">
								<button class=" send-button" onclick="sendEmail()" id="submit" type="button">
									SUBMIT
								</button>
							</div>
							
				</div>
				

			</div>
			</div>
			<!-- left contact page -->
			<div class="col-md-6">
				<div class="direct-contact-container">
					<div class="row mgleft mt-3">
							<div class="col-md-2 mgtop md2-mblView">
								<i class="clr fa fa-home" style="font-size:2em;"> - </i>
							
						</div>
							<div class="col-md-10 md10-mblView">
								<span class="contact-text place1">
									4DIMENSIONS LLC, 402 Rolling Green Ave New Castle De 19720
								</span>
						</div>
					</div>
					<div class="row mgleft mt-2">
							<div class="col-md-2 mgtop md2-mblView">
								<i class="clr fa fa-phone" style="font-size:2em;"> - </i>
							
						</div>
							<div class="col-md-10 md10-mblView">
								<span class="contact-text place1">
									<a href="tel:+1 855 789 4dim" title="give me a call">+1 855 789 4dim, +1 302 522 8869 </a>
								</span>
						</div>

					</div>
					<div class="row mgleft mt-2">
						<div class="col-md-2 mgtop md2-mblView">
								<i class="clr fa fa-envelope" style="font-size:2em;"> - </i>
							
						</div>
						<div class="col-md-10 md10-mblView">
								<span class="contact-text place1">
									<a href="mailto:info@4dimensionsllc.com" title="send me an email">info@4dimensionsllc.com</a>
								</span>
						</div>

					</div>
						<div>
							<ul class="social-media-list mt-6">
								<li>
									<a href="https://www.facebook.com/profile.php?id=61558886634641" target="_blank" class="contact-icon">
										<i class="fa fa-facebook faIcon-TableCaption" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/profile.php?id=61558886634641" target="_blank" class="contact-icon">
										<i class="fa fa-linkedin faIcon-TableCaption" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank" class="contact-icon">
										<i class="fa fa-twitter faIcon-TableCaption" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank" class="contact-icon">
										<i class="fa fa-instagram faIcon-TableCaption" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://4dimensionsllc.awsapps.com/auth/?client_id=6b9615ec01be1c8d&redirect_uri=https%3A%2F%2Fwebmail.mail.us-east-1.awsapps.com%2Fworkmail%2F" target="_blank"  class="contact-icon">
										<i class="fa fa-envelope faIcon-TableCaption" title="Check Your Emails" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
					
				</div>

			</div>
			</div>

			
		</div>

	</section> *@
	<section id="eventId" class="event-section">
		<h1 class="title clr-black ourTeamHead"> Events</h1>
		<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
			<div class="carousel-indicators" id="carousel-indicators"></div>
			<div class="carousel-inner" id="carousel-inner"></div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>
	<hr class="hr-color" />
	<section id="Faqs">
		<div class="accordion">
			<h1 class="faqsSetHead">Frequently Asked Questions</h1>
			<div class="accordion-item">
				<input type="checkbox" id="accordion1">
				<label for="accordion1" class="accordion-item-title">
					<span class="icon"></span>Where is 4Dimensions LLC located?

				</label>
				<div class="accordion-item-desc">SEO, or Search Engine Optimization, is the practice of optimizing a website to improve its visibility on search engines like Google. It involves various techniques to enhance a site's ranking in search results. SEO is crucial for online businesses as it helps drive organic traffic, increases visibility, and ultimately leads to higher conversions.</div>
			</div>

			<div class="accordion-item">
				<input type="checkbox" id="accordion2">
				<label for="accordion2" class="accordion-item-title"><span class="icon"></span>How long does it take to see results from SEO efforts?</label>
				<div class="accordion-item-desc">The timeline for seeing results from SEO can vary based on several factors, such as the competitiveness of keywords, the current state of the website, and the effectiveness of the SEO strategy. Generally, it may take several weeks to months before noticeable improvements occur. However, long-term commitment to SEO is essential for sustained success.</div>
			</div>

			<div class="accordion-item">
				<input type="checkbox" id="accordion3">
				<label for="accordion3" class="accordion-item-title"><span class="icon"></span>What are the key components of a successful SEO strategy?</label>
				<div class="accordion-item-desc">A successful SEO strategy involves various components, including keyword research, on-page optimization, quality content creation, link building, technical SEO, and user experience optimization. These elements work together to improve a website's relevance and authority in the eyes of search engines.</div>
			</div>

			<div class="accordion-item">
				<input type="checkbox" id="accordion4">
				<label for="accordion4" class="accordion-item-title"><span class="icon"></span>How does mobile optimization impact SEO?</label>
				<div class="accordion-item-desc">Mobile optimization is crucial for SEO because search engines prioritize mobile-friendly websites. With the increasing use of smartphones, search engines like Google consider mobile responsiveness as a ranking factor. Websites that provide a seamless experience on mobile devices are more likely to rank higher in search results.</div>
			</div>

			<div class="accordion-item">
				<input type="checkbox" id="accordion5">
				<label for="accordion5" class="accordion-item-title"><span class="icon"></span>What is the role of backlinks in SEO, and how can they be acquired?</label>
				<div class="accordion-item-desc">Backlinks, or inbound links from other websites to yours, play a significant role in SEO. They are considered a vote of confidence and can improve a site's authority. Quality over quantity is crucial when acquiring backlinks. Strategies for obtaining backlinks include creating high-quality content, guest posting, reaching out to industry influencers, and participating in community activities. It's important to focus on natural and ethical link-building practices.</div>
			</div>

		</div>
	</section>
	<hr class="hr-color" />
	<!--FOOTER-->
	<footer>
		<div class="footer">
			<section>
				<p class="title p-margin ">4DIMENSIONS LLC</p>
				<p class="p-margin " style="font-size:.8rem !important">
					402 Rolling Green Ave
				</p>
				<p class="p-margin " style="font-size:.8rem !important">
					 New Castle DE 19720
				</p>
				<p class="p-margin " style="font-size:.8rem !important">
					UAN: +1 855 789 4DIM
				</p>
			</section>

			<section class="sectionstyle">
				<p class="title">QUICK LINKS</p>
				<p><a href="#humanManagement">Human Management</a></p>
				<p><a href="#fleetManagement">Fleet Management</a></p> 
				<p><a href="#dispatching">Dispatching Service</a></p>
			</section>

			<section class="sectionstyle">
				<p class="title">SUPPORT</p>
				<p><a href="#ServiceSection"></a></p>
				<p><a target="_blank" href="@Url.Action("PrivacyPolicy", "Home" )">Privacy Policy</a></p>
				<p><a target="_blank" href="@Url.Action("CompanyPolicy", "Home" )">Company Policy</a></p>
				<p><a href="#Faqs">FAQS</a></p>

			</section>
		</div>

		<div class="sub-footer">
			Copyright © 2024 4Dimension LLC, All Rights Reserved
		</div>

	</footer>



	</div>

	<!-- Button trigger modal -->


	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content mdl-height">
				<div class="modal-header justify-content-center text-center">
					<a href="#" class="LogoAnch"><img class="logo-width" src="~/images/4dlogo.png" /></a>

					<h2 class="modal-title lg-view" id="staticBackdropLabel">Contact</h2>
					<button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close" style="opacity: 1;"></button>

				</div>

				<div class="modal-body">
					<div class="container">
						<div class="form-container">
							
							<div class="right-container">
								<div class="right-inner-container">
									<form id="contact-form" enctype="multipart/form-data" method="post">
        <input type="text" id="first-name" placeholder="First Name" required/>
        <input type="text" id="last-name" placeholder="Last Name" required/>
        <input type="date" id="dob" placeholder="Date Of Birth" required/>
        <input type="number" id="contact" placeholder="Contact 1" required/>
        <input type="number" id="contact2" placeholder="Contact 2" />
        <input type="email" pattern="^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required title="Please enter a valid email address" id="email" placeholder="Email" />
        <textarea id="Address" rows="2" placeholder="Address"></textarea>
        <textarea id="message" rows="4" placeholder="Message"></textarea>

										<div class="like-container mt-2">
											<div class="icon-label mt-2">
												<button type="button" class="btn green">
													<div class="icon-label-content">
														<i class="fa fa-thumbs-up fa-lg default-clr toggle-color-btn"value="1"></i>
														<span class="like-label">Like It</span> <!-- Label for Like -->
													</div>
												</button>
											</div>

											<div class="icon-label mt-2">
												<button type="button" class="btn heart-react">
													<div class="icon-label-content">
														<i class="fa fa-heart icon-set mg-icn" value="2"></i>
														<span class="heart-label">Love It</span> <!-- Label for Heart -->
													</div>
												</button>
											</div>
										</div>





        <div class="button-container mt-3">
            <button type="reset" class="btn-reset">Reset</button>
            <button type="button"id="contactSubmit" class="btn-submit">Submit</button>
        </div>
    </form>

								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!--JAVASCRIPT-->



	@* <div class="fixed">
		<a href="humanManagement" class="button " id="scroll-up">
			<div class="buttonDiv bg-b-blue">
				Home
			</div>
		</a>
		
	</div> *@
	<div class="fixed-React">
		
		

				<div class="like-container-Home">
			<div class="icon-label ">
				<button type="button" class="btn green">
					<i class="fa fa-thumbs-up fa-lg default-clr toggle-color-btn"></i>
				</button>
			
			</div>

			<div class="icon-label mt-3">
				<button type="button" class="btn heart-react">
					<i class="fa fa-heart icon-set mg-icn"></i>
				</button>
			
			</div>
		@* 	<button type="button" class="btn green" id="">
				<i id="" class="fa fa-thumbs-up fa-lg default-clr toggle-color-btn"></i>
						</button>


					<div class="heart-react-Home">
						<i class="icon-set"></i>
						<span class="txt-span">liked!</span>
					</div> *@
			<ul class="social-media-list mt-6">
				<li>
					<a href="https://www.facebook.com/profile.php?id=61558886634641" target="_blank" class="contact-icon">
						<i class="fa fa-facebook faIcon-TableCaption" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/company/4dimensions-llc" target="_blank" class="contact-icon">
						<i class="fa fa-linkedin faIcon-TableCaption" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="#" target="_blank" class="contact-icon">
						<i class="fa fa-twitter faIcon-TableCaption" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="#" target="_blank" class="contact-icon">
						<i class="fa fa-instagram faIcon-TableCaption" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="https://wa.me/13025228869" target="_blank" class="contact-icon">
						<i class="fa fa-whatsapp faIcon-TableCaption" aria-hidden="true"></i>
					</a>
				</li>

				<li>
					<a target="_blank" href="https://4dimensionsllc.awsapps.com/auth/?client_id=6b9615ec01be1c8d&redirect_uri=https%3A%2F%2Fwebmail.mail.us-east-1.awsapps.com%2Fworkmail%2F" class="contact-icon">
						<i class="fa fa-envelope faIcon-TableCaption" title="Check Your Emails" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
				</div>
		
		
		
	</div>
	
	<script>

		document.addEventListener('DOMContentLoaded', function () {
			// Handle button clicks to ensure only one is selected at a time
			$(".icon-label button").on("click", function () {
				// Remove 'selected' class and reset color from all buttons
				$(".icon-label button .icon-set, .icon-label button .toggle-color-btn").css("color", ""); // Reset color
				$(".icon-label button").removeClass("selected");

				// Add 'selected' class to the clicked button
				$(this).addClass("selected");

				// Apply color based on which button was clicked
				if ($(this).find('.icon-set').length) {
					$(this).find('.icon-set').css("color", "red");
				} else if ($(this).find('.toggle-color-btn').length) {
					$(this).find('.toggle-color-btn').css("color", "green");
				}
			});
		});





		$(document).ready(function () {
			console.log("Document Ready"); // Confirm document is ready

			// Function to handle form submission and validation
			function handleFormSubmit() {
				// Determine the selected reaction
				var reaction;
				if ($("#like-btn").hasClass("selected")) {
					reaction = 1;
				} else if ($("#heart-btn").hasClass("selected")) {
					reaction = 2;
				} else {
					reaction = 0;
				}
				console.log("Reaction Value: " + reaction); // Debugging statement
				var formData = {
					firstName: $("#first-name").val(),
					lastName: $("#last-name").val(),
					dob: $("#dob").val(),
					contact: $("#contact").val(),
					contact2: $("#contact2").val(),
					email: $("#email").val(),
					address: $("#Address").val(),
					message: $("#message").val(),
					reaction: reaction
				};

				console.log(JSON.stringify(formData, null, 2));

				// Show success message
				toastr.success('Form data saved successfully!');
				$("#contact-form")[0].reset(); // Reset form fields to default values

				// Remove selected class from reaction buttons
				$("#like-btn").removeClass("selected");
				$("#heart-btn").removeClass("selected");
				$(".input-error").removeClass("input-error");
				$(".input-success").removeClass("input-success");
			}

			// Function to validate required fields
			function validateRequiredFields() {
				var isValid = true;

				// Get the values of the required fields
				var firstName = $("#first-name").val();
				var lastName = $("#last-name").val();
				var email = $("#email").val();
				var contact = $("#contact").val();

				// Check if required fields are filled
				if (!firstName) {
					$("#first-name").addClass("input-error").removeClass("input-success");
					isValid = false;
				} else {
					$("#first-name").addClass("input-success").removeClass("input-error");
				}

				if (!lastName) {
					$("#last-name").addClass("input-error").removeClass("input-success");
					isValid = false;
				} else {
					$("#last-name").addClass("input-success").removeClass("input-error");
				}

				if (!email) {
					$("#email").addClass("input-error").removeClass("input-success");
					isValid = false;
				} else {
					$("#email").addClass("input-success").removeClass("input-error");
				}

				if (!contact) {
					$("#contact").addClass("input-error").removeClass("input-success");
					isValid = false;
				} else {
					$("#contact").addClass("input-success").removeClass("input-error");
				}

				return isValid;
			}

			// Attach submit handler to the submit button
			$(".btn-submit").on("click", function () {
				// Validate required fields
				if (validateRequiredFields()) {
					// Call handleFormSubmit if all required fields are filled
					handleFormSubmit();
				} else {
					// Show error message if any required fields are empty
					toastr.error('Please fill in all required fields: First Name, Last Name, Email, and Contact.');
				}
			});


			$("#lblContact").click(function () {
				if ($(window).width() < 768) { // Assuming 768 pixels is the threshold for mobile view
					$(".icon").click();
				}
			});

			$("#lblFleet").click(function () {
				if ($(window).width() < 768) {
					$(".icon").click();
				}
			});

			$("#lblHuman").click(function () {
				if ($(window).width() < 768) {
					$(".icon").click();
				}
			});

			$("#lblDispatch").click(function () {
				if ($(window).width() < 768) {
					$(".icon").click();
				}
			});
		});

		// var acc = document.getElementsByClassName("accordion");
		// var i;

		// for (i = 0; i < acc.length; i++) {
		// 	acc[i].addEventListener("click", function () {
		// 		this.classList.toggle("active");
		// 		var panel = this.nextElementSibling;
		// 		if (panel.style.maxHeight) {
		// 			panel.style.maxHeight = null;
		// 		} else {
		// 			panel.style.maxHeight = panel.scrollHeight + "px";
		// 		}
		// 	});
		// }
		window.onscroll = function () { scrollFunction() };
		function scrollFunction() {
			if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
				document.getElementById("navbar").style.top = "0";
				document.getElementById("scroll-up").style.display = "block";
			} else {
				document.getElementById("navbar").style.top = "-119px";
				document.getElementById("scroll-up").style.display = "none";
			}
		}

		function myFunction() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
		}
		//SCROLL ANIMATE
		var scroll = window.requestAnimationFrame ||
			function (callback) { window.setTimeout(callback, 1000 / 60) };
		var elementsToShow = document.querySelectorAll('.show-on-scroll');
		function loop() {

			Array.prototype.forEach.call(elementsToShow, function (element) {
				if (isElementInViewport(element)) {
					element.classList.add('is-visible');
				} else {
					element.classList.remove('is-visible');
				}
			});

			scroll(loop);
		}
		loop();

		function addActiveClass(event) {
			// Remove 'active' class from all sections
			var sections = document.querySelectorAll('section');
			sections.forEach(function (section) {
				section.classList.remove('active');
			});

			// Get the ID of the section to be made active
			var sectionId = event.target.getAttribute('href').substring(1); // Remove the '#' from the href
			var activeSection = document.getElementById(sectionId);

			// Add 'active' class to the section
			activeSection.classList.add('active');
		}

		// Add click event listeners to all links
		var links = document.querySelectorAll('.scroll-link');
		links.forEach(function (link) {
			link.addEventListener('click', addActiveClass);
		});

		// Function to handle scroll event
		function handleScroll() {
			var scrollPosition = window.scrollY;

			// Remove 'active' class from all sections
			var sections = document.querySelectorAll('section');
			sections.forEach(function (section) {
				var sectionTop = section.offsetTop;
				var sectionHeight = section.offsetHeight;

				// Add 'active' class to the section currently in view
				if (scrollPosition >= sectionTop && scrollPosition < sectionTop + sectionHeight) {
					section.classList.add('active');
				} else {
					section.classList.remove('active');
				}
			});
		}

		// Add scroll event listener
		window.addEventListener('scroll', handleScroll);

		function isElementInViewport(el) {
			// special bonus for those using jQuery
			if (typeof jQuery === "function" && el instanceof jQuery) {
				el = el[0];
			}
			var rect = el.getBoundingClientRect();
			return (
				(rect.top <= 0
					&& rect.bottom >= 0)
				||
				(rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) &&
					rect.top <= (window.innerHeight || document.documentElement.clientHeight))
				||
				(rect.top >= 0 &&
					rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
			);
		}

		var myVar;
		function myLoader() {
			myVar = setTimeout(showPage, 3000);
		}

		function showPage() {
			document.getElementById("loader").style.display = "none";
			document.getElementById("myDiv").style.display = "block";
		}
		//email send script
		function sendEmail() {
			//alert("click");
			var name = document.getElementById("name").value;
			var email = document.getElementById("email").value;
			var message = document.querySelector('textarea[name="message"]').value;

			// Get the button element
			var sendButton = document.getElementById("submit");

			// Change the button text to "Sending Email"
			sendButton.textContent = "Sending Email";

			// Check if any field is empty
			if (name.trim() === '' || email.trim() === '' || message.trim() === '') {
				// Show toast message
				Toastify({
					text: "Please fill in all fields before sending the email.",
					duration: 3000,
					close: true,
					gravity: "top",
					position: "center",
					className: "toastify-warning",
				}).showToast();

				// Revert button text back to "Send"
				sendButton.textContent = "Submitting ...";

				return;
			}

			// Show loading indicator
			var loadingToast = Toastify({
				text: "Sending email...",
				duration: -1, // Indefinite duration
				close: false,
				gravity: "top",
				position: "center",
			}).showToast();

			// Make AJAX request
			$.post("/Home/SendEmail", {
				recipient: email,
				body: message
			}, function (data, status) {
				// Hide loading indicator if it exists
				if (loadingToast) {
					loadingToast.hideToast();
					loadingToast = null; // Remove reference to the loading toast
				}

				if (status) {
					Toastify({
						text: "An email has been sent to " + email + " successfully!",
						duration: 3000,
						close: true,
						gravity: "top",
						position: "center",
					}).showToast();
					document.getElementById("name").value = "";
					document.getElementById("email").value = "";
					document.querySelector('textarea[name="message"]').value = "";
				} else {
					Toastify({
						text: "Email could not be sent to " + email,
						duration: 3000,
						close: true,
						gravity: "top",
						position: "center",
					}).showToast();
				}

				// Revert button text back to "Send"
				sendButton.textContent = "Send";
			});
		}
	

		document.addEventListener('DOMContentLoaded', function () {
			const blockquotes = document.querySelectorAll('figure.snip1390 blockquote');

			blockquotes.forEach(blockquote => {
				const text = blockquote.innerHTML;
				blockquote.innerHTML = `${text}<span class="close-quote">”</span>`;
			});
		});

		
		const container = document.getElementById('our-team');

		// Assuming 'container' is the parent element where the profiles will be appended

		if (!container) {
			console.error('Container element not found');
		}

		// Check if data.team is available and not empty
		if (data.team && data.team.length > 0) {
			let row; // Declare row outside the loop

			data.team.forEach((profile, index) => {
				// Create a new row wrapper for every 3 profiles
				if (index % 3 === 0) {
					row = document.createElement('div');
					row.className = 'profile-row';
					container.appendChild(row);
				}

				const figure = document.createElement('figure');
				figure.className = 'snip1390';

				figure.innerHTML = `
					<img src="${profile.img}" alt="${profile.name}" class="profile" />
					<figcaption>
						<h2>${profile.name}</h2>
						<h4>${profile.role}</h4>
						<blockquote>${profile.quote}</blockquote>
					</figcaption>
				`;

				// Append the profile card to the current row
				row.appendChild(figure);
			});
		} else {
			console.error('No profiles to display');
		}


		//crousel
		// Select DOM elements
		const indicatorsContainer = document.getElementById('carousel-indicators');
		const innerContainer = document.getElementById('carousel-inner');

		// Generate carousel indicators and items
		data.events.forEach((event, index) => {
			// Create indicator
			const indicator = document.createElement('button');
			indicator.type = 'button';
			indicator.setAttribute('data-bs-target', '#carouselExampleDark');
			indicator.setAttribute('data-bs-slide-to', index);
			if (index === 0) indicator.classList.add('active');
			indicator.setAttribute('aria-current', index === 0 ? 'true' : 'false');
			indicator.setAttribute('aria-label', `Slide ${index + 1}`);
			indicatorsContainer.appendChild(indicator);

			// Create carousel item
			const item = document.createElement('div');
			item.classList.add('carousel-item');
			if (index === 0) item.classList.add('active');

			const img = document.createElement('img');
			img.src = event.pics[0]; // Use the first image in the pics array
			img.classList.add('d-block', 'w-100');
			img.alt = event.name;

			const caption = document.createElement('div');
			caption.classList.add('carousel-caption', 'd-none', 'd-md-block');

			const title = document.createElement('h5');
			title.textContent = event.name;

			const description = document.createElement('p');
			description.textContent = event.remarks;

			caption.appendChild(title);
			caption.appendChild(description);

			item.appendChild(img);
			item.appendChild(caption);

			innerContainer.appendChild(item);
		});
	</script>
	</body>
