
<head>

    <!--EXTERNAL CSS-->
    <link href="~/css/site.css" rel="stylesheet" />
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
<div class="wrapper BreadCrumbDiv page-heading">
    <div class="row">
        <div class="col-md-4">
            <a href="/" class="LogoAnch"><img class="logo-width" src="~/images/4dlogo.png" /></a>
        </div>
        <div class="col-md-4">
            <h2 class="headingFAq">Privacy Policy</h2>
        </div>
        <div class="col-md-4">
            <span class="PrintBtnSet" type="button" id="btnPrivacyStatementPrint">
                <i class="fa fa-print"></i>
            </span>
        </div>
    </div>
</div>

<div class="scrolbardiv" id="scrolbarid">

    <div class="force-overflow">
        <div class="login-form">
            <h1 class="ModelTitle">Privacy Statement</h1>
            <div class="PolicyAllign" id="printPrivacyStatementThis">
                <p class="TROUSParagraph">
                    4Dimensions LLC is owned and operated by 4Dimensions LLC. These Terms of Service apply to the Site, located at www.4DimensionsLLC.com,
                    as well as to any mobile or similar versions of the site that 4DimensionsLLC.com operates. By using the site, you hereby agree that you are at least
                    eighteen (18) years of age and you acknowledge that you have read and agree to be bound by these terms of service and the 4DimensionsLLC.com Privacy Statement and Pakistan &amp; global privacy notice.
                </p>
                <p class="TROUSParagraph">
                    4Dimensions LLC provides dispatching services for transportation and logistics. info@4minensionsllc.com, operates as a platform to facilitate dispatching services between businesses and transport operators. info@4minensionsllc.com, does not handle the direct dispatch of vehicles, nor is it involved in the transportation of goods. As a result, 4DimensionsLLC.com does not (a) guarantee or ensure any dispatch or transportation arrangement, (b) collect or process payments related to dispatching services, or (c) manage, store, or deliver any goods or vehicles.
                </p>
                <p class="TROUSParagraph">
                    Site Content: All information and content available on this site (collectively, "Content") is protected by copyright and other intellectual property laws. The Content is owned by 4DimensionsLLC.com, its affiliates, and/or their respective licensors and suppliers (collectively, "Licensors"). The Content is intended for personal and noncommercial use only. While you may interact with or download a single copy of any portion of the Content for your personal and noncommercial use, you may not reproduce, sell, publish, distribute, modify, display, perform, re-post or otherwise use any portion of the Content in any other way or for any other purpose without the prior written consent of info@4minensionsllc.com. Requests regarding use of the Content for any purpose other than personal, noncommercial use should be directed to permissions, info@4minensionsllc.com, Lahore, Pakistan.
                    NOTICE: Certain automotive images or videos contained herein are owned by Blazor Technologies Inc and are protected under United States and international copyright law. Access to and use of these images or videos is restricted by the terms and conditions of a license agreement. Unauthorized use, reproduction, creation of derivative works, transmission, display, or distribution of these images or videos is strictly prohibited. Blazor Technologies Inc reserves the right to pursue all legal and equitable remedies against unauthorized use of data available at info@4minensionsllc.com,.
                </p>
                <p class="TROUSParagraph">
                    To quit an account or delete personal data, users can use the options listed below. Once the account is locked, all related data will be removed:
                </p>
                <ul>
                    <li>Unsubscribe from the web application using the link available at the bottom of the home page</li>
                    <li>Unsubscribe from mobile apps using the unsubscribe option available on the panel screen</li>
                    <li>Send an email from the same email account, requesting account deletion, to "info@4minensionsllc.com". Within 2-3 business days, users will be informed about the deletion of their data and account</li>
                </ul>
                <p></p>
                <p class="TROUSParagraph">
                    <strong>Data Usage Statement.</strong> 4Dimensions LLC collects Non-Personally Identifiable Information such as name, username, email, profile avatar, contact/phone, and unique ID from third-party logins. This information is collected for internal use, including contact purposes, and is not sold to third parties.
                </p>
                <p class="TROUSParagraph pt-2 txt-cnter pb-2">
                    <strong class="TROUSStrong">Last Updated:</strong> Oct 01, 2024
                </p>
            </div>
        </div>


    </div>

</div>

<script type="text/javascript">
    document.getElementById('btnPrivacyStatementPrint').addEventListener('click', function () {
        var printContents = document.getElementById('printPrivacyStatementThis').innerHTML;
        var originalContents = document.body.innerHTML;

        // Temporarily replace the entire body with the privacy statement content
        document.body.innerHTML = printContents;

        // Trigger the print dialog
        window.print();

        // Restore the original body content
        document.body.innerHTML = originalContents;
    });
</script>