@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="main-heading">
<h1 >@ViewData["Title"]</h1>
</div>
<iframe src="~/pdf/privacypolicy.pdf" class="pdf-style">
 @*    <a href="~/pdf/privacypolicy.pdf">~/pdf/privacypolicy.pdf</a> *@
    <p>Your browser does not support iframes.</p>
</iframe>
