
<head>

    <!--EXTERNAL CSS-->
    <link href="~/css/site.css" rel="stylesheet" />
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
<div class="wrapper BreadCrumbDiv page-heading">
    <div class="row">
        <div class="col-md-4">
            <a href="/" class="LogoAnch"><img class="logo-width" src="~/images/4dlogo.png" /></a>

        </div>
        <div class="col-md-4">
            <h2 class="headingFAq">Privacy Policy</h2>

        </div>
        <div class="col-md-4">
            <span class="PrintBtnSet" type="button" id="btnPrivacyStatementPrint">
                <i class="fa fa-print"></i>
            </span>
        </div>
    </div>

</div>
<div class="scrolbardiv" id="scrolbarid">

    <div class="force-overflow">
        <div class="login-form">
            <h1 class="ModelTitle">Privacy Statement</h1>
            <div class="PolicyAllign" id="printPrivacyStatementThis">
                <p class="TROUSParagraph">
                    Car Dealz Point is owned and operated by Blazor Techenology Inc. These Terms of Service apply to the Site, located at www.cardealzpoint.com,
                    as well as to any mobile or similar versions of the site that cardealzpoint.com operates. By using the site, you hereby agree that you are at least
                    eighteen (18) years of age and you acknowledge that you have read and agree to be bound by these terms of service and the cardealzpoint.com Privacy Statement and Pakistan &amp; global privacy notice.
                </p>
                <p class="TROUSParagraph">
                    Car Dealz Point is vehicles buying and selling portal.
                    cardealzpoint.com operates the site as an online buying &amp; selling vehicles services for car buyers, sellers and enthusiasts.cardealzpoint.com does not sell vehicles directly
                    and is never a party to any transaction between buyers and sellers. As a result, cardealzpoint.com does not (a) guarantee or ensure any vehicle
                    or any transaction between a buyer and seller, (b) collect or process payment or transfer of title on behalf of buyers or sellers,
                    or (c) warehouse, store, ship or deliver any vehicles.
                </p>
                <p class="TROUSParagraph">
                    Site Content all information and content available on this site (collectively, "Content") is protected by copyright and other intellectual property laws. The Content is owned by cardealzpoint.com, its affiliates, and/or their respective licensors and suppliers (collectively, "Licensors"). The Content is intended for personal and noncommercial use only. While you may interact with or download a single copy of any portion of the Content for your personal and noncommercial entertainment, information or use, you may not reproduce, sell, publish, distribute, modify, display, perform, re-post or otherwise use any portion of the Content in any other way or for any other purpose without the prior written consent of cardealzpoint.com. Requests regarding use of the Content for any purpose other than personal, noncommercial use should be directed to permissions, cardealzpoint.com, Lahore, Pakistan NOTICE: Certain automotive images or video contained herein are owned by Blazor Technologies Inc and are protected under United States and international copyright law. Access to and use of these images or video is restricted by the terms and conditions of a license agreement. Unauthorized use, reproduction, creation of derivative works, transmission, display or distribution of these images or video is strictly prohibited. Blazor Technologies Inc reserves the right to pursue all legal and equitable remedies against unauthorized use of data available cardealzpoint.com.

                </p>
                <p class="TROUSParagraph">
                    To quit account or deletion of personal data of any user, using these options listed below, account is locked and all related data is removed.
                </p><ul>
                    <li>Unsubscribe from web application, link is avaliable in bottom of home page</li>
                    <li>Unsubscribe from mobile apps, unsubscribe option is available on panel screen</li>
                    <li>Send an email from same email account, describing request to quit your account to "admin@cardealzpoint". Within 2/3 work days user will be informed about deletion of data &amp; account</li>
                </ul>
                <p></p>
                <p class="TROUSParagraph">
                    <strong>Data Usage Statement.</strong>
                    Car Dealz Point data collection and processing from 3rd logins, we are collecting Non-Personally Identifiable Information like name, username, email,profile avatar, contact / phone, unique id. Its for inhouse usage like contact purpose, not for selling purpose.
                </p>
                <p class="TROUSParagraph pt-2 txt-cnter pb-2"><strong class="TROUSStrong">Last Updated:</strong> July 15, 2024</p>

            </div>
        </div>
    </div>

</div>